vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|17 Sep 2013 23:53:06 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|Toshiba\\mtigue
vti_modifiedby:SR|Toshiba\\mtigue
vti_timecreated:TR|17 Sep 2013 23:53:06 -0000
vti_cacheddtm:TX|17 Sep 2013 23:53:06 -0000
vti_filesize:IR|9872
vti_cachedlinkinfo:VX|S|img2/texture2.jpg S|../images/page-backgrounds/texture.jpg S|assets/images/logo.png
vti_cachedsvcrellinks:VX|FSUS|32/img2/texture2.jpg NSUS|images/page-backgrounds/texture.jpg FSUS|32/assets/images/logo.png
vti_backlinkinfo:VX|32/main_copy(1).html 32/main-sep16.html
vti_syncwith_68.178.246.6\:21/stanford:TX|17 Sep 2013 23:53:06 -0000
vti_syncofs_68.178.246.6\:21/stanford:TW|18 Sep 2013 12:45:13 -0000
